<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="{{ url_for('static', filename='sonicroutes.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='mainpage.css') }}">
    <title>Amministrazione</title>
</head>
<body>
    <h1>Welcome to SonicRoutes's administration interface</h1>
    <div class="links-container">
        <p><a href="mappa_rumori">Visualize noise map</a></p>
        <p><a href="mappa_count">Visualize traffic map</a></p>
        <p><a href="metrics">Visualize graph's metrics</a></p>
    </div>
</body>
</html>
